<div class="container d-flex flex-column" style="background-color: black;width: 100%;">
  <div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <!-- Card -->
      <div class="card shadow">
        <!-- Card body -->
        <div class="card-body p-6">
          <div class="mb-4">
            <a><img src="../../assets//forgot pass.svg" class="mb-4" alt="" /></a>
            <h1 class="mb-1 fw-bold">Forgot Password</h1>
            <p>Enter Email to reset your password.</p>
          </div>
          <!-- Form -->
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" class="form-control" name="email" formControlName="email"
                placeholder="Enter Your Email " required />
              <small style="color: red;" class="p-error"
                *ngIf="this.passwordForm.controls['email'].invalid&&isSubmitted">Email is required</small>
            </div>
            <!-- Button -->
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary">
                Send Resest Link
              </button>
              <div *ngIf="isSubmitted&&authError" style="padding-left: 130px;"><small
                  style="color: rgb(216, 5, 5);">{{AuthMessage}}</small></div>
              </div>
            <span>Return to <a routerLink="/login">sign in</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
