<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
    <title>About US</title>
  </head>

  <body>
    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Members -->
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Team Members</h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="../../assets/team_01.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>Mary Cool</h4>
                <span>Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="../../assets/team_02.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>George Walker</h4>
                <span>Sales Manager</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <img src="../../assets/team_06.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>Kate Town</h4>
                <span>Production Manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer-->
    <section class="footer" style="padding-left:150px;font-size: 20px;height:10%;padding-top: 20px;">
      <div class="box-container">
        <div class="box">
          <h4><b>Shopify</b><i class="fas fa-shopping-basket"></i> </h4>
          <p>Top brands for Phones and Electronics. Latest trends in Fashion. Free Shipping available* Great Offers. Low
            Prices. Huge Selection. Top Brands.</p>
          <div class="share" style="padding-left: 5%;">
            <a href="#" class="fab fa-facebook-f"></a>&nbsp;
            <a href="#" class="fab fa-twitter"></a>&nbsp;
            <a href="#" class="fab fa-instagram"></a>&nbsp;
            <a href="#" class="fab fa-linkedin"></a>&nbsp;
          </div>
        </div>

        <div class="box">
          <h4><b>contact info</b></h4>
          <b>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +7997654234</a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> 9346036112 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i>Shopify@gmail.com</a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i>Andhra Pradesh ,India </a>
          </b>
        </div>

        <div class="box">
          <h4><b>quick links</b></h4>
          <b>
            <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#category" class="links"> <i class="fas fa-arrow-right"></i> categories </a>
            <a href="#product" class="links"> <i class="fas fa-arrow-right"></i> products </a>
            <a href="#cart" class="links"> <i class="fas fa-arrow-right"></i> Cart </a>
          </b>
        </div>
      </div>
      <div class="credit"> Copyrights &copy; <span>Tejaswini Malaga</span></div>
    </section>
  </body>

</html>
