   <!-- Footer -->
   <section class="footer" style="padding-left:150px;font-size: 20px;height:10%;padding-top: 20px;">
    <div class="box-container">
      <div class="box">
        <h4><b>Shopify</b><i class="fas fa-shopping-basket"></i> </h4>
        <p>Top brands for Phones and Electronics. Latest trends in Fashion. Free Shipping available* Great Offers. Low Prices. Huge Selection. Top Brands.</p>
        <div class="share" style="padding-left: 5%;">
          <a href="#" class="fab fa-facebook-f"></a>&nbsp;
          <a href="#" class="fab fa-twitter"></a>&nbsp;
          <a href="#" class="fab fa-instagram"></a>&nbsp;
          <a href="#" class="fab fa-linkedin"></a>&nbsp;
        </div>
      </div>

      <div class="box">
        <h4><b>contact info</b></h4>
        <b>
          <a href="#" class="links"> <i class="fas fa-phone"></i> +7997654234</a>
          <a href="#" class="links"> <i class="fas fa-phone"></i> 9346036112 </a>
          <a href="#" class="links"> <i class="fas fa-envelope"></i>Shopify@gmail.com</a>
          <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i>Andhra Pradesh ,India </a></b>
      </div>
      <div class="box">
        <h4><b>quick links</b></h4><b>
          <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> home </a>
          <a href="#category" class="links"> <i class="fas fa-arrow-right"></i> categories </a>
          <a href="#product" class="links"> <i class="fas fa-arrow-right"></i> products </a>
          <a href="#cart" class="links"> <i class="fas fa-arrow-right"></i> Cart </a></b>
      </div>
    </div>
    <div class="credit"> Copyrights &copy; <span>Tejaswini Malaga</span> </div>
  </section>