<section class="body" style="background-color: black;width: 100%;height: 100vh;">
  <div class="col d-flex justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h1><u>Reset Password</u></h1>
              <h6>Reset Your Password</h6>
            </div>
            <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                  placeholder="Enter Email">
                <small style="color: red;" class="p-error"
                  *ngIf="this.verifyForm.controls['email'].invalid&&isSubmitted">Email is required</small>
              </div>
              <div class="form-group">
                <label for="otp">OTP</label>
                <input formControlName="otp" type="text" class="form-control" id="email" aria-describedby="emailHelp"
                  placeholder="Enter One Time Password">
                <small style="color: red;" class="p-error"
                  *ngIf="this.verifyForm.controls['otp'].invalid&&isSubmitted">OTP is required</small>
              </div>
              <div class="form-group">
                <label for="hashedPassword">Password</label>
                <input formControlName="hashedPassword" type="password" class="form-control" id="hashedPassword"
                  aria-describedby="emailHelp" placeholder="Enter Password">
                <small style="color: red;" class="p-error"
                  *ngIf="this.verifyForm.controls['hashedPassword'].invalid&&isSubmitted">Password is required</small>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
              <div *ngIf="isSubmitted&&authError" style="padding-left: 130px;"><small
                  style="color: rgb(216, 5, 5);">{{AuthMessage}}</small></div>
            </form>
            <a style="margin-top: 10px" routerLink="/register">New Here? Click to Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
