<app-nav-bar></app-nav-bar>
<!-- <img class="img" src="../../assets/bg2.jpeg" style="width: 100%;" height="100%"> -->
<video autoplay muted loop id="myVideo" style="height: 810px;">
  <source src="../../../assets/Black - 13495.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<!-- 
<img class="img" src="../../assets/bg2.jpeg" style="width: 100%;" height="100%"> -->
<div class="container">
  <div class="row">
       <div col-md-6>
              <div class="card">
                  <div class="text-center">
                      <h1>Register</h1>
                      </div>
                  <form [formGroup]="signupForm" >
                     <div class="mb-3">
                        <label for="exampleInputEmail1">Email</label>
                        <input formControlName="email"  type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email" [(ngModel)]="email">
                        <span class="text-danger"
                        *ngIf="(signupForm.controls.email.touched || submitted) && signupForm.controls.email.errors?.required">
                        Email is required
                    </span>
                    <span class="text-danger"
                        *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors?.email">
                        Enter a valid email address
                    </span>
                      </div>
                      

                   <div class="mb-3">
                        <label for="exampleInputEmail1">Name </label>
                        <input formControlName="name" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name" [(ngModel)]="name">
                        <span class="text-danger" *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required','name') ">*Name is required</span>
     
             
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1">Phone Number </label>
                        <input formControlName="phno" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Phone Number" [(ngModel)]="phno">
                        <span class="text-danger"
                        *ngIf="(signupForm.controls.phno.touched || submitted) && signupForm.controls.phno.errors?.required">
                        Phone Number is required.
                    </span>
                    <span class="text-danger"
                        *ngIf="(signupForm.controls.phno.touched || submitted) &&   signupForm.controls.phno.errors?.minLength||signupForm.controls.phno.errors?.minLength">
                        Phone Number should be  10 characters
                    </span>
                      </div>
                 
                      <div class="mb-3">
                        <label for="exampleInputPassword1">Password</label>
                        <input formControlName="password" type="password" class="form-control"  placeholder="Enter password" [(ngModel)]="password">
                        <span class="text-danger"
                        *ngIf="(signupForm.controls.password.touched || submitted) && signupForm.controls.password.errors?.required">
                        Password is required.
                    </span>
                    <span class="text-danger"
                        *ngIf="(signupForm.controls.password.touched || submitted) &&  signupForm.controls.password.hasError('minLength')">
                        Password should be min 6 characters
                    </span>
                      </div>
                    </form>
                    <input type="button" [disabled]="!signupForm.valid" (click)="signUp();register()" class="btn btn-primary" value="Register">
                    <a routerLink="/login">Already User? Click to Login!!</a>
              </div>
      </div>
  </div>
</div> 